.me{
  height: 200px;
  border-radius: 50%;
  margin: 50px 15px;

}
.about > * {
  transition: none;
}
.about{
  display:flex;
  max-width: 550px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.info{
  width: 80%;
  margin: 20px;
}

.tech{
  text-align: justify;
  max-width: 500px;
  margin: 50px auto;
}

.link{
  text-align: center;
  width: 80%;
}
@media only screen and (max-width: 800px){
  .about{
    flex-direction: column;

  }

  .info{
    margin: 0 auto;
  }
  .link{
    margin: 0 auto;
  }
}
