.birds{
	max-width: 500px;
	margin: 0 auto;
	text-align: left;
	color: black;
	line-height: 110%;
}


.birds-header{
	display: block;
	font-size: 22px;
	color: rgb(201, 68, 68);
	text-align: center;
}
.inspiration-header{
	display: block;
	text-align: center;
}
.birds-video{
	display: block;
	text-align: center;
	margin: 10px 0;
}
.inspiration-video{
	display: block;
	text-align: center;
	margin: 0 auto;
}

@media only screen and (max-width: 550px){
	iframe.birds-video{
		width: 384px;
		height: 288px;
	}
	iframe.inspiration-video{
		width: 336px;
		height: 189px;
	}
}