:root{
  --dark: rgb(74, 74, 74);
}

* {
  transition: .3s all;
}
.projects-wrapper{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin:0 auto;

}
.title{
  text-align: center;
  font-size: 30px;
  color: black;
  margin: 40px 0 20px 0;
}
.project{
  width: 250px;
  height: 450px;
  text-align:center;
  margin:20px 40px;
}
.project-featured{
  width: 100%;
  height: 550px;
  text-align: center;
  margin:20px 1000px;

  align-self:stretch;
}

.project-name{
  font-size: 22px;
  margin: 0 0 8px 0;
  font-weight: bold;
}
.project:hover .project-name{
  text-decoration: underline;
}



.project-image{
  width: 250px;
  height: 250px;
  overflow:hidden;
  /* border-top: 25px solid var(--dark);
  border-bottom: 25px solid var(--dark); */
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 1;
  box-shadow: -2px 2px 2px var(--dark);
}

.project-image.hover{
  opacity: 0;
  position: relative;
  border-color: rgb(201, 68, 68);
  top: -257px;
  z-index: -1;
  box-shadow: -2px 2px 2px rgb(201, 68, 68);
  margin-bottom: 16px;
}

.project-image.featured-start{
  width: 700px;
  height: 394px;
  overflow:hidden;
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 1;
  box-shadow: -2px 2px 2px var(--dark);
  margin: 5px;
}

.project-image.featured-end{
  opacity: 0;
  position:relative;
  top: -410px;
}

.project:hover .featured-start{
  opacity: 0;
}
.project:hover .featured-end{
  opacity: 1;
}

.hover-text{
  top: -660px;
}


.project-tagline{
  font-size: 18px;
  color: rgb(45, 45, 45);
  font-style: italic;
  margin: 0 0 5px 0;
  opacity: 0;
  position: relative;
  top: -185px;
}
.project:hover .project-tagline{
  opacity: 1;
  top: -255px;
}

.project-description{
  font-size:18px;
  opacity: 0;
  position:relative;
  top: -330px;
}
.project:hover .project-description{
  opacity:1;
  top: -250px;
}

.project-technologies{
  font-size: 16px;
  color: rgb(45, 45, 45);
  position:relative;
  top: -240px;
  opacity: 0;
  left: -50px;
}
.project:hover .project-technologies{
  opacity: 1;
  left: 0px;
}

.project:hover .hover{
  display:block;
  opacity: 1;
}

.project:hover .project-image.image-start{
  opacity:0;
}
/*  */

.text-wrapper{
  position: relative;
  top: -125px;
}

/* the next two css learned from https://codepen.io/shshaw/pen/wWQZEB
to prevent gaps from hiding the individual elements
*/
.projects-wrapper {
  visibility: hidden;
}
.projects-wrapper > * {
  visibility: visible;
}
.project-featured {
  visibility: hidden;
}
.project-featured > * {
  visibility: visible;
}
/* select all but hovered */
.projects-wrapper:hover .project:not(:hover) {
  opacity:.4;
}

a{
  color: rgb(201, 68, 68);
}
.proj-link{
  color: rgb(201, 68, 68);
}

li{
  list-style-type: none;
}
.anchor-image{
  margin: -2000px 0;
}

.featured-big{
  display: block;
}
.featured-small{
  display: none;
}

.project-featured > .text-wrapper{
  top: -150px;
}

@media only screen and (max-width: 800px){
  .projects-wrapper{
    width: 100%;
  }

  .featured-big{
    display: none;
  }
  .featured-small{
    display: block;
  }
}
@media only screen and (max-width: 480px){
  .project-technologies{
    opacity: 1;
    position: relative;
    top: -255px;
    left: 0;
  }
  /* .project-name{
    opacity: 1;
    position: relative;
    top: -255px;
    left: 0;
  } */
  .project-tagline{
    opacity: 1;
    position: relative;
    top: -255px;
    left: 0;
  }
  .project-description{
    opacity: 1;
    position: relative;
    top: -255px;
    left: 0;
  }
}
